<main data-controller="user" class="user login">
    <section class="content" >
        <div class="container">          
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 box">
                    {{ content.title }}
                    {{ page.content }}
                </div>
            </div>
        </div>
        <div class="backupParallax" style="background-image: url(/themes/futurospossiveis2021/static/img/bg_topo_home.jpg);"></div>
        <div class="parallax" data-parallax-image="/themes/futurospossiveis2021/static/img/bg_topo_home.jpg"></div>
    </section>
</main>